<h1>Party Time!</h1>
<%= image_tag('tpparrot.gif') %>
<%= image_tag('60fpsparrot.gif') %>
<%= image_tag('dealwithitnowparrot.gif') %>
<%= image_tag('spinningparrot.gif') %>
<%= image_tag('done_complete.jpg') %>
<%= image_tag('rubyparrot.gif') %>
<%= image_tag('headbangingparrot.gif') %>
<%= image_tag('docparrot.gif') %>
<%= image_tag('daftpunkparrot.gif') %>


<%= link_to 'Back', root_path %>